
#code_workspace {
    display: flex;
    flex-direction: column;
    position: relative;
}

#codeViewer {
    flex-grow: 1;
    height: 100%;
}

#code_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

#code_buttons > div {
    margin: 0 10px;
}

#button_convert_to_code {

}

.text_button {
    padding: 5px 10px;
    background-color: green;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

.CodeMirror {
    height: 100% !important;
}

.CodeMirror-gutters .breakpoints {
    width: 20px !important;        /* или любая другая ширина */
    min-width: 20px !important;
}

/* Стиль самого маркера */
.breakpoint-marker {
    display: block;
    width: 16px;
    height: 16px;
    margin: 2px auto 0 auto;       /* центрируем по вертикали */
    border-radius: 50%;
    background-color: #e74c3c;
    cursor: pointer;
    flex-shrink: 0;                /* предотвращает сжатие */
}