
#code_workspace {
    display: flex;
    flex-direction: column;
    position: relative;
}

#codeViewer {
    flex-grow: 1;
    height: 100%;
}

#code_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

#code_buttons > div {
    margin: 0 10px;
}

#button_convert_to_code {

}

.text_button {
    padding: 5px 10px;
    background-color: green;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

#code_output {
    background-color: black;
    color: white;
    padding: 5px;
    width: 100%;
}

.code_output_expanded {
    height: 50%;
}

.code_output_not_expanded {
    height: 0;
}

#code_output_header {
    display: flex;
    padding: 5px 10px;
    background-color: #0d612a;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

#button_download_result_files {
    display: block;
}

#button_expand_output {
    display: block;
    width: 24px;
    height: 24px;
    color: white;
}