#code_execution_status {
    display: none;
    align-items: center;
    align-content: center;
    gap: 4px;
    padding: 0;
    margin: 0;
}

#code_execution_status.active {
    display: flex;
}

#code_execution_status_text {
    font-size: 16px;
    color: white;
    user-select: none;
    white-space: nowrap;
}

#code_execution_status_progress_bar_container {
    width: 100px;
    height: 4px;
    background-color: #444;
    border-radius: 2px;
    overflow: hidden;
}

#code_execution_status_progress_bar {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #ffe241, #ff5a2d);
    border-radius: 3px;
    animation: codeExecutionStatusProgressAnimation 1.5s ease-in-out infinite;
}

#code_execution_status_stop_button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

#code_execution_status_stop_button:hover {
    transform: scale(1.1);
}

@keyframes codeExecutionStatusProgressAnimation {
    0% { width: 0; }
    50% { width: 70%; }
    100% { width: 100%; }
}
