#code_workspace {
    display: flex;
    flex-direction: column;
    position: relative;
}

#codeViewer {
    flex-grow: 1;
    height: 100%;
}

#codemirror_workspace {
    height: 100%;
}

#input_files_toolbar {
    flex-direction: row;
    display: flex;
    align-items: center;
    background-color: #07830a;
    padding: 10px;
}

#input_add_input_file {
    display: none;
}

#img_add_input_file {
    display: block;
    height: 16px;
}

#button_add_input_file {
    display: block;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
    color: white;
}

#button_add_input_file:hover {
    color: cornflowerblue;
}

#input_files_list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
    padding: 0 0 0 10px;
    gap: 5px 0;
}

.input_file {
    height: fit-content;
    display: flex;
    margin: 0 10px 0 0;
    background-color: #ffffff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}

.input_file_text {
    color: #ffffff;
    margin: 0;
    padding: 5px 5px;
    font-size: 16px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #066C08;
    white-space: nowrap;
}

.button_remove_input_file {
    width: 24px;
    height: 24px;
    display: block;
}
