.cm-editor {
    height: 100%;
}

.breakpoints-gutter {
    width: 24px !important;
    min-width: 24px !important;
}

.breakpoint-marker {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px auto 0 auto;
    border-radius: 50%;
    background-color: #e74c3c;
    cursor: pointer;
    flex-shrink: 0;
}
