* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

header {
    box-sizing: border-box;
    height: 5%;
    flex-shrink: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    height: 95%;
}

#blockly_workspace {
    flex: 1 1 50%;          /* по умолчанию занимает половину */
    height: 100%;
    min-width: 0;           /* чтобы мог сжиматься */
}

#code_workspace {
    flex: 1 1 50%;          /* по умолчанию половина */
    height: 100%;
    display: flex;          /* чтобы внутренние элементы корректно растягивались */
    flex-direction: column;
}

/* Когда код скрыт */
main.code-hidden #blockly_workspace {
    flex: 1 1 100%;         /* занимает всю ширину */
}

main.code-hidden #code_workspace {
    display: none;          /* скрываем */
}


